.gridContainer {
    height: 93%;
    display: grid;
    grid-template-columns: [start] 25% [line2] 25% [line3] 25% [line4] 25% [end];
    grid-template-rows: [start] 35% [line2] 35% [line3] 25% [end];
    column-gap: 5px;
    row-gap: 5px;
}

.classGrades {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    grid-column: start / line6;
    grid-row: start / end ;
    padding: 20px;
}

.headingOne{
    background-color: brown;
}