.card-img-top {
    width: 80px;
    height: auto;
}

@media screen and (min-width: 1125px) {
    .card-home {
        width: 375px;
        margin: 10px 3%;
        padding: 10px;
    }
    
    .card-title {
        font-size: 24px;;
    }
}

@media screen and (max-width: 1125px) {
    .card-home {
        width: 300px;
        margin: 10px 3%;
        padding: 10px;
    }
    .card-title {
        font-size: 18px;
    }

}

.card-text{
    font-size: 14px;
}
