.gridContainer {
    height: 93%;
    display: grid;
    grid-template-columns: [start] 25% [line2] 25% [line3] 25% [line4] 25% [end];
    grid-template-rows: [start] 35% [line2] 35% [line3] 25% [end];
    column-gap: 5px;
    row-gap: 5px;
}

.classCardContainer {
    margin-top: 20px;
    grid-column: start / line4;
    grid-row: start / line3 ;
}

.badgeDisplay {
    padding: 20px;
    margin: 0 20px;
    width: 96%;
    height: 100%;
    grid-column: start / line4;
    grid-row: line3 / end ;
}

.toDoList{
    position: relative;
    right: 20px;
    height: 100%;
    padding: 20px;
    grid-column: line4 / end;
    grid-row: start / end ;
}